*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#020b1f,#07152f,#0c234b,#102d63);
padding:20px;
}

.container{
width:450px;
padding:30px;
background:rgba(255,255,255,0.05);
border-radius:20px;
text-align:center;
color:white;
}

.logo-circle{
width:90px;
height:90px;
margin:auto;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
background:#1d4ed8;
font-size:30px;
font-weight:bold;
margin-bottom:10px;
}

.menu{
display:flex;
flex-direction:column;
gap:10px;
}

.menu-btn{
padding:10px;
border:none;
border-radius:10px;
background:#153b7a;
color:white;
font-weight:bold;
cursor:pointer;
}

.menu-btn:hover{background:#2563eb}

.exit-btn{background:#7f1d1d}

.form-container{
display:none;
width:520px;
padding:25px;
background:rgba(255,255,255,0.05);
border-radius:20px;
color:white;
text-align:center;
}

input{
width:100%;
margin:5px 0;
padding:8px;
border-radius:8px;
border:none;
}

.submit-btn,.back-btn{
width:100%;
padding:10px;
margin-top:10px;
border:none;
border-radius:10px;
font-weight:bold;
cursor:pointer;
}

.submit-btn{background:#2563eb;color:white}
.back-btn{background:#475569;color:white}

.small-input{
width:60%;
padding:6px;
margin:5px 0;
text-align:center;
}

.delete-btn{
position:absolute;
top:10px;
right:10px;
background:#7f1d1d;
color:white;
border:none;
padding:6px 10px;
border-radius:8px;
cursor:pointer;
}

#fileList pre{
text-align:left;
line-height:1.6;
}
