body {
  margin:0;
  font-family: Arial;
  background:#070913;
  color:white;
}

.sidebar {
  width:260px;
  position:fixed;
  height:100%;
  background:#0b1020;
  padding:20px;
}

.main {
  margin-left:260px;
  padding:20px;
}

.nav-item {
  display:block;
  width:100%;
  padding:10px;
  margin:5px 0;
  background:none;
  color:white;
  border:1px solid #333;
  cursor:pointer;
}

.nav-item.active {
  border-color:cyan;
}

.page { display:none; }
.page.active { display:block; }

.card {
  background:#111a33;
  padding:20px;
  border-radius:10px;
  margin-bottom:20px;
}

input {
  display:block;
  width:100%;
  margin:8px 0;
  padding:10px;
}

button {
  padding:10px;
  background:cyan;
  border:none;
  cursor:pointer;
}
